[submodule "frontend"]
    path = frontend
    url = https://github.com/luiz-eduardo-wmw/vendasweb.git
    branch = develop

[submodule "backend"]
    path = backend
    url = https://github.com/luiz-eduardo-wmw/vendas-backend.git
    branch = develop